body {
    cursor: default;
    min-width: 300px;
    min-height: 546px;
    overflow: hidden;
    margin: 0;
    color: #222;
    font-size: 12px;
    font-family: var(--font-system);
}

.material-icons {
    font-size: 20px;
}

object{
    pointer-events: none;
}

/*
 * list
 */
.list {
}

.list__item {
    padding: 4px 10px 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--color-white);
}
.list__item:hover, .list__item:active, .list__item:focus {
    background: var(--color-silver);
}

/*
 * element
 */
.element {
    display: flex;
    cursor: pointer;
}
.element__icon {
    padding: 2px;
    margin-right: 8px;
}
.element__text {
    flex: auto;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.element__user {
    background: var(--color-olive);
    color: var(--color-white);
    padding: 2px 8px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
}
.element__counter {
    line-height: 24px;
    font-weight: 300;
}
.element__action {
    padding: 2px;
    margin-left: 8px;
}
.element__action___close {
    background: #fff;
    border-radius: 3px;
    padding: 2px;
    margin-left: 8px;
}
.element.on .element__action {
    color: var(--state-on);
}
.element.off .element__action {
    color: var(--state-off2);
}
.element.user .element__action, .element__action___close:hover {
    color: var(--color-black);
}
.element.user:hover .element__action, .element__action___close:hover {
    color: var(--state-off);
}

/*
 * title
 */
.title {
    display: flex;
    flex-direction: row;
    height: 50px;
    background: #222;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}
.title__logo-wrapper {
    flex: auto;
}
.title__logo {
    height: 50px;
    width: 100%;
    z-index: 3;
    position: relative;
}
.title__button {
    color: var(--color-white);
    border-left: 1px solid #333;
}
.title__button:hover {
    background: #333;
}
.title__settings {
    font-size: 24px;
    padding: 12px;
}
.title__toggle {
    font-size: 36px;
    padding: 6px;
    line-height: 38px;
}

/*
 * toggle
 */
input[type=checkbox].toggle { display:none; }
label.toggle {
    cursor: inherit;
}
input[type=checkbox].toggle + div label.toggle:before {
    font-family: 'Material Icons';
    display: inline-block;
    content: "\e9f5";
} /* unchecked icon */
input[type=checkbox].toggle + .title__button {
    background: var(--state-off);
    transition: background .1s ease-in-out;
}

input[type=checkbox].toggle:checked + div label.toggle:before {
    content: "\e9f6";
} /* checked icon */
input[type=checkbox].toggle:checked + .title__button {
    background: var(--state-on);
}

/*
 * hr
 */
.hr {
    height: 5px;
    background: var(--color-silver);
}

/*
 * item-wrapper
 */
.item-wrapper {
    border-bottom: 1px solid var(--color-white);
}
.item-wrapper:last-child {
    border-bottom: 0;
}
.categories .item-wrapper:last-child {
    border-bottom: 1px solid var(--color-white);
}

/*
 * categories
 */
.categories {
    height: 350px;
    overflow-y: auto;
}

/*
 * plugins-list
 */
.plugins-list {
    max-height: 505px;
    overflow-y: auto;
}
.plugins-list .item-wrapper:last-child {
    margin-bottom: 5px;
}

/* section */
.section {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 100vw;
    transition: margin-left 0.15s ease-in-out;
    width: 100vw;
}
.section.main-menu {
    margin-left: -100vw;
}
body#main-menu .section.main-menu {
    margin-left: 0;
    z-index: 1;
}
body#options .section.options, body#plugins .section.plugins {
    margin-left: 0;
}

/*
 * header
 */
.header {
    padding: 4px;
    border-bottom: 1px solid #eee;
    cursor: default;
}
.header__icon {
    padding: 6px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}
.header__icon:hover {
    background-color: var(--color-silver);
}
.header__text {
    line-height: 32px;
}

/*
 * h2
 */
h2 {
    font-size: 1rem;
    margin: 0;
    padding: 2px 12px 3px 10px;
}

.settings-section {
    padding: 15px 0;
}

/*
 * input-field
 */
.input-field {
    margin: 0;
    padding: 4px 12px 4px 10px;
}
.input-field label {
    vertical-align: super;
    margin-left: 8px;
    line-height: 26px;
}

/*
 * update-check
 */
.update-check {
    display: flex;
}
.update-check__setting {
    flex: auto;
}
.update-check__input {
    width: 10ch;
    height: 30px;
}
.update-check__text {
    margin-left: 8px;
}

/*
 * button
 */
.button {
    cursor: pointer;
    line-height: 28px;
    padding: 0 10px;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #ccc;
    transition: background 0.1s linear;
}
.button:hover, .button:active, .button:focus {
    background: #f2f2f2;
}

/*
 * message
 */
.message {
    background: #333;
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 10px;
    color: var(--color-white);
    font-weight: 400;
    transition: bottom 0.3s ease-in-out;
    z-index: 10;
}
.message.open {
    bottom: 0;
}

/*
 * progressbar
 */
.progressbar {
    opacity: 0;
    transition: opacity 0.2s linear;
    animation-play-state: paused;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: calc(100% - 98px);
    background-color: #222;
    animation: preloader-background ease-in-out 2s infinite;
}
.progressbar.active {
    opacity: 1;
    animation-play-state: running;
}
.progressbar::before, .progressbar::after {
    animation-play-state: running;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 0;
    height: 50px;
    animation: preloader-front ease-in-out 2s infinite;
    content: '';
}
.progressbar.active::before, .progressbar.active::after {
    animation-play-state: running;
}
.progressbar::before {
    right: 100%;
}
.progressbar::after {
    left: 0;
}

@keyframes preloader-background {
    0%, 44.9999% {
        background-color: #222;
    }
    50%, 100% {
        background-color: #333;
    }
}
@keyframes preloader-front {
    0% {
        width: 0;
        background-color: #333;
    }
    49.9999% {
        width: 100%;
        background-color: #333;
    }
    50% {
        width: 0;
        background-color: #222;
    }
    100% {
        width: 100%;
        background-color: #222;
    }
}





:root {
 --font-system:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
 --font-monospace:Menlo,Consolas,"DejaVu Sans Mono",monospace;
 --color-white:#fff;
 --color-blue:#0074d9;
 --color-olive:#48a77c;
 --color-green:#2ecc40;
 --color-lime:#01ff70;
 --color-yellow:#ffdc00;
 --color-orange:#ff851b;
 --color-red:#ff4136;
 --color-black:#111;
 --color-gray:#aaa;
 --color-silver:#eee;
 --state-on:#43a047;
 --state-off:#e53935;
 --state-off2:#6c3939;
}
