@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Mono'),
       local('NotoSansMono-Regular'),
       url(NotoSansMono-Regular.woff2) format('woff2');
}
