body {
  background: #F0F0F0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0 0 0.7em 0;
}

.addUserScript-wrapper {
  background: #0e3d4e;
  color: #fff;
  margin-top: 1em;
}
#addUserScript {
  padding: 1.8em;
  margin: auto;
  width: 640px;
  height: 68px;
  font-size: 18px;
  transition: opacity .1s linear;
}
#addUserScript.hide {
  opacity: 0;
}
#addUserScript .col {
  padding-right: 10px;
}

pre {
  margin: 1em;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-control-character-visibility: visible;
}

/* Make text go with the rules of dir=auto, but allow it to be overriden if 'Switch Text Direction' is triggered */
html:not([dir]) pre { /* Not a UA sheet, so doesn't use :-moz-has-dir-attr */
  unicode-bidi: plaintext;
}

.btn {
  cursor: pointer;
  padding: 10px 22px;
  background: #fff;
  color: #222;
  border-radius: 3px;
  display: inline-block;
  height: 22px;
  margin: auto;
}

.btn:hover {
  background: #efefef;
}