@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(Roboto-Regular.woff2) format('woff2');
}

body, input, select {
    font-family: system-ui, "Roboto";
}