body {
  width:  100%;
  height: 100%;
  margin: 0;
  background: #E8E9EC;
  color: #222;
  font-size: 18px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
  overflow: hidden;
}

.bg {
  background: #0e3d4e url("/assets/images/background.jpg");
  background-size: cover;
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.zone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  padding: 40px;
  width: 50%;
}

#drop_zone {
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 50px rgba(0,0,0,.3);
  transition: background 0.2s linear;
}

#drop_zone:hover {
  background: #f5f5f5;;
}

.drop_zone_label {
  font-weight: 400;
  text-align: center;
  display: block;
}

.drop_zone_label_small {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

.url_zone {
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
}

#url_input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}

.url_wrapper {
  position: relative;
}

.url_button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2px 15px;
  border-radius: 0 2px 2px 0;
  font-size: 1.2em;
  color: #00000000;
  cursor: pointer;
  background: #000000b3;
  transition: background 0.1s linear;
}

.url_button.active {
  color: #fff;
  background: #000000b3;
}

.url_button.active:hover {
  background: #000c;
}

.or {
  color: #fff;
}